.Card {
    background-color: aqua;
    display: flex;
    width: 365px;
}

.BoxOuter {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

.CardContent {
    background-color: red;
    flex: 1 0 auto;
}

.Typography {
    background-color: yellow;
}

.BoxInner {
    background-color: orange;
    display: flex;
    align-items: center;
    padding-left: 1;
    padding-bottom: 1;
}

.PrevBtn {
    background-color: chartreuse;
}

.PlayBtn {
    background-color: cadetblue;
    height: 38px;
    width: 38px;
}

.SkipBtn {
    background-color: tomato;
}


.CardMedia {
    background-color: cornflowerblue;
    width: 151px;
}

